[submodule "vendor/MYUtilities"]
	path = vendor/MYUtilities
	url = git://github.com/snej/MYUtilities.git
[submodule "PocketSocket"]
	path = vendor/PocketSocket
	url = git://github.com/tophatch/PocketSocket.git
	branch = concepts/validateservertrust_crash_1.4
